# DUB
.dub
docs.json
__dummy.html
docs/
/ddh
ddh.so
ddh.dylib
ddh.dll
ddh.a
ddh.lib
ddh-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json

# Archives
*.zip
*.xz
*.gz
*.bzip2
*.tar

# GDC probes
*.s

# Personal stuff
NOTES