# DUB
.dub
docs.json
__dummy.html
docs/
/ddh
ddh.so
ddh.dylib
ddh.dll
ddh.a
ddh.lib
ddh-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
dub.selections.json
src/gitinfo.d

# Compiler-specific
## LDC2?
.fuse_*
## GDC probes
*.s

# Archives
*.zip
*.xz
*.gz
*.bzip2
*.tar

# Personal stuff
/perso/
/list.*